<strong>Olá, {{ deliveryman }}</strong>
<p>Após analise do problema, entedemos a gravidade e efetuamos o cancelamento da encomenda.</p>
<p>Confira os detalhes logo abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Descrição do problema: </strong> {{ problem }} <br />
  <strong>Data do cancelamento: </strong> {{ date }} <br />
</p>

